body {
	background-image: url('https://az659834.vo.msecnd.net/eventsairaueprod/production-cievents-public/0c00cb0b67b84596a268b3bafc3b102b');
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
}